@model BillPayerCore.Data.ApplicationUser

@{
    ViewBag.Title = "Edit Profile";
}

<h2>@ViewBag.Title</h2>

<!--<a href="~/Views/House/Create.cshtml">~/Views/House/Create.cshtml</a>-->

    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>


<div class="form-group">
    @Html.LabelFor(m => m.UserInfo.FirstName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.UserInfo.FirstName, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.UserInfo.LastName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.UserInfo.LastName, new { @class = "form-control" })
    </div>
</div>

<p>
<a href="@Url.Action("Profile", "Roommates")" class="btn btn-primary" role="form" style="float: left;"><span>Back to Profile</span></a>
   </p>