
@model BillPayerCore.DataModels.Bill
@{
    ViewBag.Title = "Bill";
}
<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("Create", "Bill", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <h4>Create a new Bill.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.DateDue, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DateDue, new { @class = "form-control" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Cost, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Cost, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.Recurring)
                    @Html.LabelFor(m => m.Recurring)

                </div>
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.Paid)
                        @Html.LabelFor(m => m.Paid)

                    </div>
                    </div>
                </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Add Bill" />
                        </div>
                    </div>
}
