@model BillPayingWebsite.Models.BillViewModel
@{
    ViewBag.Title = "Bill";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-3">Bill Id:</div>
    <div class="col-md-6">@Model.Bill.Id</div>

</div>

<div class="row">
    <div class="col-md-3">Name:</div>

    <div class="col-md-6">@Model.Bill.Name</div>


</div>

<div class="row">
    <div class="col-md-3">Date Due:</div>

    <div class="col-md-6">@Model.Bill.DateDue</div>

</div>

<div class="row">
    <div class="col-md-3">Cost</div>

    <div class="col-md-6">@Model.Bill.Cost</div>

</div>

<div class="row">
    <div class="col-md-3">Recurring:</div>
    <div class="col-md-6">@Model.Bill.Recurring</div>

</div>

<div class="row">
    <div class="col-md-3">Paid:</div>
    <div class="col-md-6">@Model.Bill.Paid</div>

</div>

<div class="row">
    <div class="col-md-3">Splits:</div>

</div>

@foreach (var split in Model.Bill.Splits)
{
    <div class="row">
        <div class="col-md-3">Splits:</div>
        <div class="col-md-6"> @split.Id </div>
        <div class="col-md-6"> @split.PortionCost </div>
        <div class="col-md-6"> @split.User </div>
    </div>


}

<div class="row">
    <div class="col-md-3">@Html.ActionLink("Split Bill", "SplitBill", new { controller = "Bill", id = Model.HouseHold.Id, billId = Model.Bill.Id }, new { @class = "btn btn-primary" })</div>

</div>
