@model BillPayingWebsite.Models.BillViewModel
@{
    ViewBag.Title = "Bill";
}

<div class="row">
    @Html.ActionLink("House", "Details", new { controller = "House", id = Model.HouseHold.Id })

</div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<div class="row">
    <div class="col-md-3">Bill Id:</div>
    <div class="col-md-6">@Model.Bill.Id</div>

</div>

<div class="row">
    <div class="col-md-3">Name:</div>

    <div class="col-md-6">@Model.Bill.Name</div>


</div>

<div class="row">
    <div class="col-md-3">Date Due:</div>

    @if (@Model.Bill.DateDue.Date >= @DateTime.Now.Date)
    {
        <div class="col-md-6">@Model.Bill.DateDue.ToShortDateString()</div>
    }
    else
    {
        <div class="col-md-6 text-danger">@Model.Bill.DateDue.ToShortDateString()</div>
    }
    

</div>

<div class="row">
    <div class="col-md-3">Cost</div>

    <div class="col-md-6">@Model.Bill.Cost</div>

</div>

<div class="row">
    <div class="col-md-3">Recurring:</div>
    <div class="col-md-6">@Model.Bill.Recurring</div>

</div>

<div class="row">
    <div class="col-md-3">Paid:</div>
    <div class="col-md-6">@Model.Bill.Paid</div>

</div>

<div class="row">
    <div class="col-md-3">Users Billed:</div>

</div>

@foreach (var split in Model.Bill.Splits)
{
    <div class="row">
        <div class="col-md-3 col-md-offset-1"> @split.User.FirstName @split.User.LastName </div>
        <div class="col-md-3 "> @split.PortionCost </div>   
    </div>


}

<div class="row">
    <div class="col-md-3">@Html.ActionLink("Edit Bill", "Edit", new { controller = "Bill", id = Model.HouseHold.Id, billId = Model.Bill.Id }, new { @class = "btn btn-primary" })</div>

</div>
