
@model BillPayingWebsite.Models.BillViewModel
@{
    ViewBag.Title = "Bill";
}
<h2>@ViewBag.Title.</h2>

<link href="~/Content/Sliders/static/css/no-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet" />

<style type="text/css" media="screen">
    .slider-toplevel .slider-logo {
        float: left;
        width: 130px;
        height: 21px;
        padding-left: 35px;
        line-height: 21px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .slider-container {
        background: url(@Url.Content("~/Content/Sliders/static/slider-bg.png")) no-repeat;
        position: relative;
        float: left;
        top: 7px;
        width: 292px;
        height: 6px;
        margin: 0 20px 0 18px;
    }

    .slider-container .right {
        background: url(@Url.Content("~/Content/Sliders/static/slider-bg.png")) no-repeat right;
        position: absolute;
        top: 0;
        right: -2px;
        bottom: 0;
        width: 2px;
    }

    .ui-slider {
        height: 10px;
    }

    .ui-slider-handle {
        background: url(@Url.Content("~/Content/Sliders/static/slider-handle.png")) no-repeat;
        position: absolute;
        top: -3px;
        width: 11px;
        height: 12px;
        margin-left: -6px;
        z-index: 10;
    }

    .children-holder {
        margin-left: 40px;
    }

    .disclosure-triangle {
        background: url(@Url.Content("~/Content/Sliders/static/disclosure-closed.png")) 0px 0px no-repeat;
        cursor: pointer;
        float: left;
        width: 20px;
        height: 20px;
        margin-left: -24px;
        -o-transition: -o-transform ease-in-out 0.1s;
        -ms-transition: -ms-transform ease-in-out 0.1s;
        -moz-transition: -moz-transform ease-in-out 0.1s;
        -webkit-transition: -webkit-transform ease-in-out 0.1s;
    }

    .disclosure-opened {
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

    .no-transform .disclosure-opened {
        background: url(@Url.Content("~/Content/Sliders/static/disclosure-opened.png")) 0px 0px no-repeat;
    }
</style>


<script type="text/template" id="sliders-template">
    <div class="sliders-toplevel">
        <div class="master-amount-holder">
            <input type="text" name="master-amount" class="master-amount" value="<%= initial_value %>" style="display:inline"></input>
        </div>
        <div class="children-holder">
        </div>
    </div>
</script>
<script type="text/template" id="slider-template">
    <div class="slider-toplevel">
        <div class="slider-logo">
            <% if ( has_children ) { %>
            <div class="disclosure-triangle">
            </div>
            <% } %>
            <div class="slider-name"><%= human_name %></div>
        </div>
        <div class="slider-container">
            <div class="right"></div>
            <div class="slider-placeholder ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"></div>
        </div>
        <div class="pennies-container">
            <input type="text" class="slider-pennies">
        </div>
        <% if ( has_children ) { %>
        <div class="children-holder" style="display:none">
        </div>
        <% } %>
    </div>
</script>


<div class="row">
    @Html.ActionLink("Bill", "Details", new { controller = "Bill", id = Model.HouseHold.Id, billId = Model.Bill.Id })

</div>

@using (Html.BeginForm("Edit", "Bill", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <h4>Edit a Bill.</h4>
    <hr />
    @Html.HiddenFor(m => m.Bill.Id)
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(m => m.Bill.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Bill.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Bill.DateDue, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Bill.DateDue, new {@Value = @Model.Bill.DateDue.ToShortDateString(), @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Bill.Cost, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Bill.Cost, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HouseHold.Users, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @for (int i = 0; i < Model.RoommatesSelected.Count; i++)
            {


                <div class="checkbox">
                    @Html.HiddenFor(m => m.RoommatesSelected[i].User.Id)
                    @Html.CheckBoxFor(m => m.RoommatesSelected[i].isBilled)
                    @Html.Label(@Model.RoommatesSelected[i].User.FirstName + " " + @Model.RoommatesSelected[i].User.LastName)

                    


                </div>
            }

        </div>
    </div>

    <div id="sliders-holder">
    </div>

        <div class="form-group">
            @Html.Label("Options", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.Bill.Recurring)
                    @Html.LabelFor(m => m.Bill.Recurring)

                </div>
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.Bill.Paid)
                    @Html.LabelFor(m => m.Bill.Paid)
                    
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Save Changes" />
            </div>
        </div>


}

@section Scripts {
    <script src="~/Content/Sliders/static/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="~/Content/Sliders/static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/Sliders/static/js/json2.js"></script>
    <script src="~/Content/Sliders/static/js/underscore-min.js"></script>
    <script src="~/Content/Sliders/static/js/backbone-min.js"></script>
    <script src="~/Content/Sliders/static/humble-sliders4.js"></script>

    <script type="text/javascript">
        $(function() {
            window.dbg1 = humbleSliders((@Model.Bill.Cost * 100), $("#sliders-holder"), {
                "splits": [ {
                    "class": "user1",
                    "name": "Roommate 1",
                    "percent": (1.0 / 5.0)
                }, {
                    "class": "user2",
                    "name": "Roommate 2",
                    "percent": (1.0 / 5.0)
                }, {
                    "class": "user3",
                    "name": "Roommate 3",
                    "percent": (1.0 / 5.0)
                }, {
                    "class": "user4",
                    "name": "Roommate 4",
                    "percent": (1.0 / 5.0)
                }, {
                    "class": "user5",
                    "name": "Roommate 5",
                    "percent": (1.0 / 5.0)
                }

                ]
        } );
    } );
</script>
}


