@model BillPayingWebsite.Models.HouseHoldUserModel
@{
    ViewBag.Title = "House";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-3">House Id:</div>
    <div class="col-md-6">@Model.HouseHold.Id</div>

</div>

<div class="row">
    <div class="col-md-3">Address:</div>

    <div class="col-md-6">@Model.HouseHold.Address</div>


</div>

<div class="row">
    <div class="col-md-3">Rooms:</div>

    <div class="col-md-6">@Model.HouseHold.Rooms</div>

</div>

<div class="row">
    <div class="col-md-3">Bathrooms:</div>

    <div class="col-md-6">@Model.HouseHold.Bathrooms</div>

</div>

<div class="row">
    <div class="col-md-3">Square Feet:</div>
    <div class="col-md-6">@Model.HouseHold.Size</div>

</div>



<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item active">Roommates</li>
            @foreach (var roommate in Model.roommatesOwed)
            {
                <li class="list-group-item">
                    @roommate.User.FirstName @roommate.User.LastName
                    <h class="text-danger">( $@roommate.totalDue )</h>
                    @if (roommate.User.Id == Model.HouseHold.HeadOfHouseHold.Id)
                    {
                        <span class="badge"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
                    }
                </li>

            }
        </ul>
    </div>

</div>



<div class="row">
    <div class="col-md-3">@Html.ActionLink("Add Bill", "Create", new { controller = "Bill", id = Model.HouseHold.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Remove Bill", "RemoveOption", new { controller = "Bill", id = Model.HouseHold.Id }, new { @class = "btn btn-primary" }) </div>
</div>

<div class="row">
    <div class="col-md-6">

        <div class="list-group">
            <div class="list-group-item active">Bills</div>
            @foreach (var bill in Model.houseBillsSorted)
            {
                <a class="list-group-item" href="@Url.Action("Details", new { controller = "Bill", id = Model.HouseHold.Id, billId = bill.Id })">
                    @bill.Name $@bill.Cost 
                    @if ((DateTime.Now.Date - bill.DateDue).Days > 1)
                    {
                        <span class="badge"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> @((DateTime.Now.Date - bill.DateDue).Days) Days Overdue!</span>
                    }
                    else if ((DateTime.Now.Date - bill.DateDue).Days > 0)
                    {
                        <span class="badge"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> @((DateTime.Now.Date - bill.DateDue).Days) Day Overdue!</span>
                    }
                    else if ((DateTime.Now.Date - bill.DateDue).Days == 0)
                    {
                        <span class="badge"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Due Today!</span>
                    }
                </a>

            }
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-6">

        <div class="list-group">
            <div class="list-group-item active">Users Want to Join</div>
            @foreach (var request in Model.HouseHold.Requests)
            {
                <div class="list-group-item" >
                    @request.User.FirstName @request.User.LastName
                    @Html.ActionLink("Accept","AcceptRoommate", new { controller = "House", id = Model.HouseHold.Id, requestId = request.Id })
                    @Html.ActionLink("Reject", "RejectRoommate", new { controller = "House", id = Model.HouseHold.Id, requestId = request.Id })
                </div>

            }
        </div>
    </div>

</div>


