@model BillPayerCore.DataModels.HouseHold
@{
    ViewBag.Title = "House";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-3">House Id:</div>
    <div class="col-md-6">@Model.Id</div>

</div>

<div class="row">
    <div class="col-md-3">Address:</div>

    <div class="col-md-6">@Model.Address</div>


</div>

<div class="row">
    <div class="col-md-3">Rooms:</div>

    <div class="col-md-6">@Model.Rooms</div>

</div>

<div class="row">
    <div class="col-md-3">Bathrooms:</div>

    <div class="col-md-6">@Model.Bathrooms</div>

</div>

<div class="row">
    <div class="col-md-3">Square Feet:</div>
    <div class="col-md-6">@Model.Size</div>

</div>



<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item active">Roommates</li>
            @foreach (var roommate in Model.Roommates)
            {
                <li class="list-group-item">
                    @roommate.FirstName @roommate.LastName
                    <span class="badge"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
                </li>

            }
        </ul>
    </div>

</div>



<div class="row">
    <div class="col-md-3">@Html.ActionLink("Add Bill", "Create", new { controller = "Bill", id = Model.Id }, new { @class = "btn btn-primary" })</div>

</div>

<div class="row">
    <div class="col-md-6">

        <div class="list-group">
            <div class="list-group-item active">Bills</div>
            @foreach (var bill in Model.Bills)
            {
                <a class="list-group-item" href="@Url.Action("Details", new { controller = "Bill", id = Model.Id, billId = bill.Id })">
                    @bill.Name $@bill.Cost
                </a>

            }
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-6">

        <div class="list-group">
            <div class="list-group-item active">Users Want to Join</div>
            @foreach (var request in Model.Requests)
            {
                <div class="list-group-item" >
                    @request.FirstName @request.LastName
                    @Html.ActionLink("Accept","AcceptRoommate", new { controller = "House", id = Model.Id, billId = request.Id })
                    @Html.ActionLink("Reject", "RejectRoommate", new { controller = "House", id = Model.Id, billId = request.Id })
                </div>

            }
        </div>
    </div>

</div>


